<form id="form" action="/cart" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <% if(showSize){ %>
  <input type="hidden" name="size" id="size" />
  <% } %>
  <input type="hidden" name="isSize" id="isSize" value="<%= showSize %>" />
  <input type="hidden" name="productId" value="<%= product.id %>" />
  <button type="submit">Add to cart</button>
</form>
