<section class="light-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="partnersLogoSlider">
          <div class="slide">
            <div class="partners__logo">
              <img src="/images/partner-01.png" alt="" />
            </div>
          </div>
          <div class="slide">
            <div class="partners__logo">
              <img src="/images/partner-02.png" alt="" />
            </div>
          </div>
          <div class="slide">
            <div class="partners__logo">
              <img src="/images/partner-03.png" alt="" />
            </div>
          </div>
          <div class="slide">
            <div class="partners__logo">
              <img src="/images/partner-04.png" alt="" />
            </div>
          </div>
          <div class="slide">
            <div class="partners__logo">
              <img src="/images/partner-05.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
