<% if(errorMessage) { %>
<div
  class="alert alert-danger alert-message alert-dismissible fade show"
  role="alert"
>
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <%= errorMessage %>
</div>
<% } %>
