
.card{
    width:fit-content;
    margin: auto;
    box-shadow: none;
}

.form{
    padding: 1rem;
}

form button{
    color: #fff !important;
    background-color:  #88c8bc !important;
}

form button:hover{
    background-color: #67a39a !important;
}

.header{
    padding: 1rem;
    color: black;
    font-weight: bold;
    text-align: center;
}
.centered a{
    text-decoration: none;
    color: #88c8bc;
}

.centered a:hover,
.centered a.active{
    color: #67a39a;
}
