/* @import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap"); */
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Oxygen", sans-serif !important;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.image {
  height: 20rem;
}

.image img {
  height: 100%;
}

.social a {
  margin-right: 0.4rem;
}
.nav-links {
  transition: color 0.2s;
}

nav {
  background-color: white;
  color: #252525;
  /* -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black; */
  box-shadow: 0 3px 12px -6px rgba(0, 0, 0, 0.4);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #88c8bc !important;
}

navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover {
  color: #88c8bc !important;
}

.nav-item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.nav-item button:hover {
  color: #88c8bc !important;
}

main {
  padding: 0px;
}

#showcase-inner {
  padding-top: 5rem !important;
  background: url(../images/shopping.jpeg) no-repeat top center fixed;
  position: relative;
  overflow: hidden;
  min-height: 250px;
}
#showcase-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(71, 186, 193, 0.8) !important;
}

/* Text CSS */

.heading {
  font-size: 2rem;
}

h5 {
  font-size: 14px !important;
  font-weight: 700 !important;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  background-color: rgba(71, 186, 193, 0.9) !important;
  background: white;
  border-radius: 3px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: rgba(71, 186, 193, 0.7) !important ;
  color: white;
}

.btn.danger {
  color: red;
  border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
  background: red;
  color: white;
}

.alert-message {
  margin: auto;
  width: 40%;
  text-align: center;
}

.page-item.active .page-link {
  border-color: rgb(71, 186, 193) !important;
  background-color: rgb(71, 186, 193) !important;
  color: white;
}

/* FOOTER SECTION CSS */

.light-section {
  background-color: #f0f0f0;
  height: 125px;
}

.partners__logo {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center !important;
}

.partnersLogoSlider .slide {
  display: table !important;
  height: 125px !important;
}
.footer {
  display: block;
  width: 100%;
  padding: 38px 0;
  background-color: #252525;
  border-top: 8px solid #47bac1;
}


.footer .footer-link h5 {
  letter-spacing: 1px;
  color: #5f5f5f;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.footer .footer-link ul li {
  color: #acacac;
  font-size: 12px;
  line-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
.footer .footer-link ul li a {
  color: #acacac;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}

.list-inline li{
  display: inline-block;
}

.footer .newsletter h4 {
  color: #5f5f5f;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 700;
}

.footer .newsletter {
  display: block;
  text-align: center;
}

.footer .newsletter h3 {
  color: #acacac;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 24px;
}

.footer .newsletter p {
  color: #acacac;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

footer .newsletter .input-group {
  display: block;
  width: 100%;
}
.footer .newsletter .input-group .form-control, .footer .newsletter .input-group .input-group-addon {
  float: left;
  margin-right: 2%;
  border-radius: 0;
  border: 0;
  background-color: #3b3b3b;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  font-size: 13px;
  color: #999;
}

.footer .newsletter .input-group .input-group-addon {
  display: inline-block;
  margin-right: 0;
  height: 40;
  padding: 0;
  text-align: center;
  line-height: 36px;
  border: 3px solid #47bac1;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  transition: all .3s ease-in-out;
}

.footer .newsletter .input-group .input-group-addon:hover,
.footer .newsletter .input-group .input-group-addon:active{
  background-color: #47bac1;
  color: white;
  text-decoration: none;
}

.copyRight {
  display: block;
  width: 100%;
  min-height: 53px;
  background-color: #101010;
}

.copyRight p {
  color: #acacac;
  margin-bottom: 0;
  font-size: 13px;
  padding-top: 17px;
}

.copyRight ul li {
  line-height: 53px;
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 600px){
.footer .newsletter {
    float: none;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 75%;
}
.footer .newsletter .input-group .input-group-addon {
  width: 25%;
}
.footer .footer-link {
  text-align: center;
  margin-bottom: 25px;
}
.copyRight p {
  text-align: center;
}
.copyRight ul {
  text-align: center;
}
}

@media (min-width: 768px) {
  .heading {
    font-size: 3rem;
  }
  .user-message {
    width: 30rem;
  }
  .partners__logo {
    width: 270px;
  }
  .footer .newsletter {
    float: right;
    margin-bottom: 0;
    width: 90%;
}
.footer .newsletter .input-group .input-group-addon {
  width: 35%;
}
.footer .footer-link{
  text-align: left;
  margin-bottom: 0;
}
.copyRight p {
  text-align: left;
}
.copyRight ul {
  text-align: right;
}

}

