/* @import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap"); */
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Oxygen", sans-serif !important;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.image {
  height: 20rem;
}

.image img {
  height: 100%;
}

.social a {
  margin-right: 0.4rem;
}
.nav-links {
  transition: color 0.2s;
}

nav {
  background-color: white;
  color: #252525;
  /* -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black; */
  box-shadow: 0 3px 12px -6px rgba(0, 0, 0, 0.4);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #88c8bc !important;
}

navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover {
  color: #88c8bc !important;
}

.nav-item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.nav-item button:hover {
  color: #88c8bc !important;
}

main {
  padding: 0px;
}

#showcase-inner {
  padding-top: 5rem !important;
  background: url(../images/shopping.jpeg) no-repeat top center fixed;
  position: relative;
  overflow: hidden;
  min-height: 250px;
}
#showcase-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(71, 186, 193, 0.8) !important;
}

/* Text CSS */

.heading {
  font-size: 2rem;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  background-color: rgba(71, 186, 193, 0.9) !important;
  background: white;
  border-radius: 3px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: rgba(71, 186, 193, 0.7) !important ;
  color: white;
}

.btn.danger {
  color: red;
  border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
  background: red;
  color: white;
}

.alert-message {
  margin: auto;
  width: 40%;
  text-align: center;
}

.page-item.active .page-link {
  border-color: rgb(71, 186, 193) !important;
  background-color: rgb(71, 186, 193) !important;
  color: white;
}

/* FOOTER SECTION CSS */

.light-section {
  background-color: #f0f0f0;
  height: 125px;
}

.partners__logo {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center !important;
}

.partnersLogoSlider .slide {
  display: table !important;
  height: 125px !important;
}

@media (min-width: 768px) {
  .heading {
    font-size: 3rem;
  }
  .user-message {
    width: 30rem;
  }
  .partners__logo {
    width: 270px;
  }
}
